{% extends "Layout.html" %}
{% block body %}
<div class="row">
  <div class="col s12" style="padding-top: 10px;">
    <i id="connect-status-icon" class="material-icons">android</i><span id="connect-status">Device not connected.... </span>
  </div>
</div>
<div class="row">
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red"><i class="large material-icons">mode_edit</i></a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a id="connect-device" class="btn-floating blue tooltipped"data-position="left" data-tooltip="Connect to device"><i class="material-icons"> android</i></a></li>
    </ul>
  </div>
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#test1">Explore</a></li>
      <li class="tab col s3"><a href="#test2">Intercept</a></li>
    </ul>
  </div>
  <div id="test1">
    <div class="col s4">
        <ul id="process-list" class="scale-transition collection with-header">
          <li class="collection-header green"><b>Processes</b></li>
          <li class="android-process collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
        <ul id="method-list" class="scale-transition collection with-header">
          <li class="collection-header"><b>Methods</b></li>
          <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
    </div>
  </div>
  <div id="test2" class="col s12">Test 2</div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    function setClickHandlers() {
      $(".android-process").on("click", function() {
        $("#process-list").addClass("scale-out");
        var methods = $("#method-list");
        methods.removeClass("scale-out")
        methods.addClass("scale-in");
        $("#process-list").addClass("hide");
      });
    }

    $(document).ready(function(){
      $("#method-list").addClass("scale-out");
      $('.tooltipped').tooltip();
      $('.fixed-action-btn').floatingActionButton();
      $('.tabs').tabs();
      setClickHandlers();
    });

    $('#connect-device').on("click", function() {
      socket.emit("connection", {"data": "connect" }, function(data) {
        $("#connect-status").text(data["device"]["id"] + " - " + data["device"]["name"]);
        $("#connect-status-icon").addClass("green-text");

        $(data['processes']).each(function(e) {
          var elm = $.parseHTML("<li class='android-process collection-item' data-name='" + data['processes'][e] + "'><div>" + data['processes'][e] + "<a href='#!' class='secondary-content'><i class='material-icons'>send</i></a></div></li>");
          $("#process-list").append(elm);
        });
        setClickHandlers();
      });

    });
  </script>
{% endblock %}
